/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #083b4c;
}

#numbers-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    font-size: 50px;
    padding: 2rem 0;
    color: white;
}

.box{
    width: 80px;
    height: 80px;
    background-color: #1389b2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

/* Color-Box */
.box.fizz{
    background-color: #0bd6a1;
}

.box.buzz{
    background-color: #ffd166;
}

.box.fizzbuzz{
    background-color: #f0466f;
}